*{
    background-color: cornflowerblue;
    padding: 0%;
    margin: 0.3%;
    
}

h1{
    text-align: center;
    background-color: black;
    color: white;
    padding: 20px;
    
}
h2{
    text-align: center;
    background-color: black;
    color: white;
    padding: 10px;
}
p{
    background-color:;
    padding: 5.4px;
}
img{
    margin: auto;
    display: block;
    width: 25%;
    border-radius: 50%;
    object-fit: cover;
}
.Img img{
    margin: auto;
    display: block;
    width: 25%;
    position: fixed;
}